In [70]:
from pathlib import Path
import pandas as pd
import locale
locale.setlocale(locale.LC_MONETARY, '')



def formatar_moeda(valor):
    return locale.currency(valor, grouping=True)



dados = {'nomes':     ['lucas','matheus','fulano','fulaninho'],
         'sobrenomes':['lourenço','marinho','de tal','de tal'],
         'idade':     [19,19,20,25],
         'cargo':     ['programador','rh','analista','analista pleno'],
         'salario':   [6000,3000,2000,2500],
        }



tabela_df = pd.DataFrame.from_dict(dados)


# tratamento de dados
tabela_df['nomes'] = [n.title() for n in tabela_df['nomes']]
tabela_df['sobrenomes'] = [sn.title() for sn in tabela_df['sobrenomes']]
tabela_df['cargo'] = [c.title() for c in tabela_df['cargo']]
tabela_df['salario'] = [formatar_moeda(s) for s in tabela_df['salario']]


display(tabela_df.head())

       nomes sobrenomes  idade           cargo      salario
0      Lucas   Lourenço     19     Programador  R$ 6.000,00
1    Matheus    Marinho     19              Rh  R$ 3.000,00
2     Fulano     De Tal     20        Analista  R$ 2.000,00
3  Fulaninho     De Tal     25  Analista Pleno  R$ 2.500,00